<header>
  <h2>Dashboard</h2>
  <h3>Welcome, {{user.username}}</h3>
</header>

<div class="dash">

  {{!-- create new post --}}
  <div id="new-post">
    <form id="new-post-form">
      <h3>Create a Post:</h3>
      <label for="post-title">Title:</label>
      <input type="text" id="post-title" required>
      <br>
      <label for="post-content">Content:</label>
      <input type="text" id="post-content" required>
      <br>
      <button class="pretty-btn" type="submit">Post</button>
    </form>
  </div>
  <div id="blog-posts">
  {{!-- show all posts --}}
  {{#each blogposts as |blogpost|}}
  <div class="blog-post">
    <div class="post-header">
      <h2>{{blogpost.post_title}}</h2>
      <p>Created: {{blogpost.date_created}}</p>
    </div>
    <div class="post-content">
      <p>{{blogpost.content}}</p>
    </div>
  </div>
  {{/each}}
  </div>
</div>

<script src="/js/blogpost.js"></script>