<header>
  <h2 id="home-header">Current Posts</h2>
</header>

<div id="blog-posts-home">
  {{#each blogposts as |blogpost|}}
  <div class="blog-post">
    <div class="post-header">
      <h2><a href="/blogposts/{{blogpost.id}}">{{blogpost.post_title}}</a></h2>
      <p>{{blogpost.date_created}}</p>
    </div>
    <div class="post-content">
      <p>{{blogpost.content}}</p>
    </div>
  </div>
  {{/each}}
</div>