<div id="login-page">
  <h2>Login</h2>
  <form class="all-forms" id="loginForm">
    <label for="login-username">Username:</label>
    <input type="text" id="login-username" required>
    <br>
    <label for="login-password">Password:</label>
    <input type="password" id="login-password" required>
    <br>
    <button class="pretty-btn" id="login-btn" type="submit">Login</button>
  </form>

  <h2>or Signup Here </h2>
  <form class="all-forms" id="signupForm">
    <label for="signup-username">Username:</label>
    <input type="text" id="signup-username" required>
    <br>
    <label for="signup-password">Password:</label>
    <input type="password" id="signup-password" required>
    <br>
    <button class="pretty-btn" id="signup-btn" type="submit">Signup</button>
  </form>
</div>

<script src="/js/login.js"></script>